
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<head>
    <meta charset="utf-8">
    <title>BizPage Bootstrap Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="~/Aboutt/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="~/Aboutt/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Aboutt/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/Aboutt/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="~/Aboutt/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/Aboutt/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="~/Aboutt/css/style.css" rel="stylesheet">

    <!-- =======================================================
      Theme Name: BizPage
      Theme URL: https://bootstrapmade.com/bizpage-bootstrap-business-template/
      Author: BootstrapMade.com
      License: https://bootstrapmade.com/license/
    ======================================================= -->
</head>

<body>
<section id="about">
    <div class="container">

        <header class="section-header">
            <h3>About Us</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </header>

        <div class="row about-cols">

            <div class="col-md-4 wow fadeInUp">
                <div class="about-col">
                    <div class="img">
                        <img src="img/about-mission.jpg" alt="" class="img-fluid">
                        <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
                    </div>
                    <h2 class="title"><a href="#">Our Mission</a></h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>
            </div>

            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
                <div class="about-col">
                    <div class="img">
                        <img src="img/about-plan.jpg" alt="" class="img-fluid">
                        <div class="icon"><i class="ion-ios-list-outline"></i></div>
                    </div>
                    <h2 class="title"><a href="#">Our Plan</a></h2>
                    <p>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem  doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                    </p>
                </div>
            </div>

            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
                <div class="about-col">
                    <div class="img">
                        <img src="img/about-vision.jpg" alt="" class="img-fluid">
                        <div class="icon"><i class="ion-ios-eye-outline"></i></div>
                    </div>
                    <h2 class="title"><a href="#">Our Vision</a></h2>
                    <p>
                        Nemo enim ipsam voluptatem quia voluptas sit aut odit aut fugit, sed quia magni dolores eos qui ratione voluptatem sequi nesciunt Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.
                    </p>
                </div>
            </div>

        </div>

    </div>
</section>

<!-- JavaScript Libraries -->
    <script src="~/Aboutt/lib/jquery/jquery.min.js"></script>
    <script src="~/Aboutt/lib/jquery/jquery-migrate.min.js"></script>
    <script src="~/Aboutt/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Aboutt/lib/easing/easing.min.js"></script>
    <script src="~/Aboutt/lib/superfish/hoverIntent.js"></script>
    <script src="~/Aboutt/lib/superfish/superfish.min.js"></script>
    <script src="~/Aboutt/lib/wow/wow.min.js"></script>
<script src="~/Aboutt/lib/waypoints/waypoints.min.js"></script>
    <script src="~/Aboutt/lib/counterup/counterup.min.js"></script>
    <script src="~/Aboutt/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/Aboutt/lib/isotope/isotope.pkgd.min.js"></script>
    <script src="~/Aboutt/lib/lightbox/js/lightbox.min.js"></script>
    <script src="~/Aboutt/lib/touchSwipe/jquery.touchSwipe.min.js"></script>
<!-- Contact Form JavaScript File -->
    <script src="~/Aboutt/contactform/contactform.js"></script>

<!-- Template Main Javascript File -->
    <script src="~/Aboutt/js/main.js"></script>

</body>